[submodule "module/Hosting-Repo"]
	path = module/Hosting-Repo
	url = https://github.com/MernDev-Tejuu/Hosting-Repo.git
[submodule "website"]
	path = website
	url = https://github.com/MernDev-Tejuu/website.git
